.model-image{
    width: 4000px;
    height: auto;
    margin: 50px 0;
    
}

#model{
        display: none;
    }

@media screen and (min-width: 768px){
    .model-image{
        display: none;
    }
    #model{
        display: block;
    }   
}